/* Articles Page  */
:root{
    --main-orange: #FF8A5B;
    --main-blue: #25CED1;
    --main-gray: #F4F4F4;
    --main-transparent-gray: #f4f4f4cc;
    --main-font-color: rgba(0, 0, 0, 0.55);
    --main-box-shadow:0 .5rem 1rem rgba(0,0,0,0.1) 
}
.nav{
    background-color: transparent;
    font-size: larger;
    font-weight: 450;
    padding: 1%;
    width: 100%;
    padding-right:6%;
    padding-left: 6%;
    column-gap: 16%!important;
}
.link2{
    color: var(--main-font-color);
    display: inline-block;
    position: relative;
}
.link2:hover{
    color: var(--main-font-color);
}
.link2:focus{
    color: var(--main-font-color);
}
.link2.active{
    background-color: transparent!important;
    color: #58f4fc!important;
}
.link2:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0%;
    background-color: var(--main-orange);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.link2:hover:after, .link:focus:after, .link2.active:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link2:before{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;
    content: '';
    background: var(--main-orange);
    opacity: 1;
    transition: all 0.3s;
}
.link2:hover:before{
    width: 0px;
}
.link2.active:before{
    opacity: 0.3;
    width: 100%;
}

/* #articles-div{
    margin: 4%;
    padding: 2%;
}
#articles-div .card{
    margin: auto;
    margin-bottom: 50px!important; 
    border-radius: 0.25rem;
    width: 80% !important;
}  
#articles-div .card .card-img-top{
    border-radius: 0.25rem!important;
    max-height: 50vh;
    object-fit: cover;
 }   */
    
    
 /* Articles cards */
/* .band {
width: 90%;
max-width: 1240px;
margin: 8% auto;

position: relative;
display: grid;

grid-template-columns: 1fr;
grid-template-rows: auto;
grid-gap: 20px; */

/* } */
.band {
    width: 90%;
    max-width: 90vw;
    margin: 5% auto;
    
    position: relative;
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    }
.band a{
    text-decoration: none;
}
@media only screen and (min-width: 500px) {
.band {
    grid-template-columns: 1fr 1fr;
}  
.item-1 {
    grid-column: 1/ span 2;
}
.item-1 p{
    display: none;
}
.item-1 h1 {
    font-size: 30px;
}
}

@media only screen and (min-width: 850px) {
.band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
  
  /* card */
  
  .card-extra {
    min-height: 100%;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }

  .card-extra:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  }

  .card-extra article {
    padding: 20px;
    display: flex;
    
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    word-wrap: nowrap;
    
  }
  .card-extra article h1{
    padding-bottom: 10px;
  }

  .card-extra .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  
  .card-extra p { 
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
    max-height: 100ch;
    /* 
    overflow: hidden;
    text-overflow: ellipsis; */
  }
  
  /* typography */
  h1 {
    font-size: 20px;
    margin: 0;
    color: var(--main-font-color);
  }
  
  .card-extra span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }    



#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 50px; /* Place the button at the bottom of the page */
	right: 20px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: 4px solid rgba(0,0,0,0.1) !important; /* Remove borders */
	outline: none!important; /* Remove outline */
	cursor: pointer; /* Add a mouse pointer on hover */
	border-radius: 10px; /* Rounded corners */
	font-size: 50px!important; /* Increase font size */
    background-color: var(--main-gray)!important;
    box-shadow: var(--main-box-shadow)!important;
}

#myBtn:hover{
    box-shadow: none!important;
    background-color: #d1cfcfa1!important;
}
.bi-caret-up-fill:hover {
	color: var(--main-blue)!important; /* Add a dark-grey background on hover */
}  

.bi-caret-up-fill{
	color: var(--main-orange)!important; /* Text color */
}
  
  