:root{
  --main-orange: #FF8A5B;
  --main-blue: #25CED1;
  --main-gray: #F4F4F4;
  --main-transparent-gray: #f4f4f4cc;
  --main-font-color: rgba(0, 0, 0, 0.55);
  --main-box-shadow:0 .5rem 1rem rgba(0,0,0,0.1) ;
  --orange: rgb(248, 140, 98);
}

body {
  padding-top: 0!important;
  background-color: var(--main-gray);
  color: var(--main-font-color);
}
.main-body{
  padding-top: 100px;
}

.modal{
  background: #535050b0 !important;
  z-index: 10000000;
}
.modal-content{
  background-color: var(--main-gray);
}
.modal-title{
  text-align: center !important;
  width: 100%;
  color: var(--main-blue)
}
.modal button:hover , .modal button:focus{
  background-color: var(--main-blue);
}
.important{
  color: var(--main-orange);
}

@media only screen and (min-width: 850px){
  .contact-us-page{
    grid-template: 1fr / 1fr 1fr;
    justify-content: center!important;
  }
  /* .website-logo-email{
    justify-self: start;
    margin-left: -10%;
    width: 90%;
  }
  .website-logo-email input{
    width:66%;
    padding-left: 2%;
  }
  .website-logo-email label{
    display: inline;
  }
  .to-right {
    left: 40%;
    right: 0;
  }
  .wrapper {
    width: 35rem;
  } */
} 


svg {
	height: 21rem;
  display: block;
  margin: auto;
  margin-top: 30%!important;
}

.container #envelope {
  animation: float 2s ease-in-out infinite;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.container {
  margin-bottom: 2%;
}

.container main {
  display: flex;
  justify-content: center;
  column-gap: 10%;
}


.container form {
  width: 75%;
}

.container form h3 {
  color: var(--main-font-color);
  margin-bottom: 1em;
}
.container label {
  font-weight: 450;
}
.container form .form-control {
  background-color: #eeebf3;
  opacity: 0.7;
  margin-bottom: 1.5em;
}
.container form .form-control:focus{
  background-color: white;
  box-shadow: 0 0 0 0.25rem #a7eff8;
}

.container form .submit-btn {
  background-color: var(--main-orange);
  color: white;
  width: 100%;
}
.container form .submit-btn:hover {
  background-color: white;
  color: var(--main-font-color);
}

