:root{
  --main-orange: #FF8A5B;
  --main-blue: #25CED1;
  --main-gray: #F4F4F4;
  --main-transparent-gray: #f4f4f4cc;
  --main-font-color: rgba(0, 0, 0, 0.55);
  --main-box-shadow:0 .5rem 1rem rgba(0,0,0,0.1) 
}

body {
  margin: 0;
  padding: 10%;
  background-color: var(--main-gray);
  color: var(--main-font-color);
}

.contact-us-page{
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  row-gap: 10%;
  text-align: center;
}

.website-logo-email{
  justify-self: start;
  margin-top: 24%;
  margin-left: -10%;
  width: 90%;
}
.website-logo-email input{
  width:66%;
  background: none;
  font-size: 1.5rem;
  padding-left: 2%;
}
.website-logo-email label{
  font-size: 1.5rem;
}
.website-logo-email input[type=text]:focus{
  background: none;
}
.fa-clone{
  color: var(--main-orange);
  font-size: 1.5rem;
}
h1 {
  font-size: 2.5rem;
  color: var(--main-blue);
  padding-bottom: 2%;
}

textarea, input, .contact-page-buttons {
  line-height: 1.5rem;
  border: 0;
  outline: none;
}

textarea, input {
  color: var(--main-font-color);
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}

textarea {
 width: 100%;
 height: 8rem;
 resize: none;
 font-size: 1rem;
}

input {
 width: 50%;
 margin-bottom: 0.5rem;
 font-style: italic;
}
.btn-close{
  background-color: transparent;
  border: none!important;
  box-shadow: none;
}
.btn-close:hover, .btn-close:focus{
  background-color: transparent!important;
  border: none!important;
  box-shadow: none;
}
.contact-page-buttons {
 padding: 0.5rem 1rem;
 margin-top: -2%;
 border-radius: 0.25rem;
 background-color: var(--main-orange)!important;
 box-shadow: var(--main-box-shadow);
 border: 4px solid rgba(0,0,0,0.1) !important;
 box-sizing: border-box;
 color: white;
 font-size: 1rem;
 transition: background-color 0.2s;
}
.contact-page-buttons:hover{
  outline: none;
  border:  4px solid  #7be0e0!important;
  box-shadow: none!important;
  background-color: var(--main-orange)!important;
  color: white;
}
.contact-page-buttons:focus {
  background-color: var(--main-blue)!important;
  color: white;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgba(78, 94, 114, 0.3)' x='0' y='23' width='10' height='1'/></svg>");
  outline: none;
}
.wrapper {
  width: 35rem;
  background-color: var(--main-gray);
  box-shadow: var(--main-box-shadow);
}
.letter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 30rem;
  margin: auto;
  perspective: 60rem;
}
.side {
  height: 12rem;
  background-color: white;
  outline: 1px solid transparent;
  &:nth-of-type(1) {
    padding: 2rem 2rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &.side:nth-of-type(2) {
    padding: 2rem;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: right;
  }
}
.envelope {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.envelope.front {
  width: 10rem;
  height: 6rem;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  z-index: 9999;
  opacity: 0;
}
.envelope.front::before, .envelope.front::after {
  position: absolute;
  display: block;
  width: 12rem;
  height: 6rem;
  background-color: var(--main-orange);
  transform: rotate(30deg);
  transform-origin: 0 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  content: '';
}
.envelope.front::after{
  right: 0;
  transform: rotate(-30deg);
  transform-origin: 100% 0;
}
.envelope.back {
  top: -4rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  z-index: -9998;
  opacity: 0;
  transform: translateY(-6rem);
  &::before {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: #e9dc9d;
    border-radius: 1rem;
    content: '';
    transform: scaleY(0.6) rotate(45deg)
  }
}
.result-message {
  opacity: 0;
  transition: all 0.3s 2s;
  transform: translateY(9rem);
  z-index: -9999;
  font-weight: 400;
}
.sent {
  & .letter {
    animation: scaleLetter 1s forwards ease-in  ;
  }
  & .side:nth-of-type(1) {
    transform-origin: 0 100%;
    animation: closeLetter 0.66s forwards ease-in;
  }
  & .side:nth-of-type(1) h1, .side:nth-of-type(1) textarea {
    animation: fadeOutText 0.66s forwards linear;
  }
  & #sendLetter {
    background-color: var(--main-blue);
  }
  & .envelope {
    animation: fadeInEnvelope 0.5s 1.33s forwards ease-out;
  }
  & .result-message {
    opacity: 1;
    transform: translateY(12rem);
  }
  & small {
    opacity: 0;
  }
}
.to-right {
  position: absolute;
  left: 40%;
  right: 0;
  margin: 1rem auto;
}
@keyframes closeLetter {
   50% {transform: rotateX(-90deg);}
   100% {transform: rotateX(-180deg);}
}
@keyframes fadeOutText {
   49% {opacity: 1;}
   50% {opacity: 0;}
   100% {opacity: 0;}
}
@keyframes fadeInEnvelope {
  0% {opacity: 0; transform: translateY(8rem);}
  100% {opacity: 1; transform: translateY(4.5rem);}
}
@keyframes scaleLetter {
  66% {transform: translateY(-8rem) scale(0.5, 0.5);}
  75% {transform: translateY(-8rem) scale(0.5, 0.5);}
  90% {transform: translateY(-8rem) scale(0.3, 0.5);}
  97% {transform: translateY(-8rem) scale(0.33, 0.5);}
  100%{transform: translateY(-8rem) scale(0.3, 0.5);}
}

.modal{
  background: #535050b0 !important;
  z-index: 10000000;
}
.modal-content{
  background-color: var(--main-gray);
}
.modal-title{
  text-align: center !important;
  width: 100%;
  color: var(--main-blue)
}
.modal button:hover , .modal button:focus{
  background-color: var(--main-blue);
}
.important{
  color: var(--main-orange);
}