:root{
    --main-orange: #FF8A5B;
    --main-blue: #25CED1;
    --main-color: #a7eff8;
    --main-gray: #F4F4F4;
    --main-transparent-gray: #f4f4f4cc;
    --main-font-color: rgba(0, 0, 0, 0.55);
    --main-box-shadow:0 .5rem 1rem rgba(0,0,0,0.1) ;
    --orange: rgb(248, 140, 98); 
    --green: rgb(172, 241, 132);
}
body{
    background-color: var(--main-gray);
    padding: 0!important;
}
.main{
  padding-top: 50px;
}
.footer{
    background-color: white;
}
/* Page structure when user not signin */
#privacy-error{
    display: none;
}

#negativeAlert{
    box-shadow: var(--main-box-shadow);
    margin-right: 30%;
    width: 60%;
    left: 20%;
    margin-top: 3%;
    background-color: #fc9f7ac9;
    font-size: 20px!important;
    border-color: var(--main-orange);
}

.bi-x-octagon-fill{
    font-size: 30px!important;
    padding-right: 20px;
}

.alert button{
    border: none!important;
    box-shadow: none;
    font-size: 20px!important;
    display: block!important;
    margin: auto!important;
    padding: 25px 20px!important;
    background-color: transparent!important;
}

.logImage{
    border-radius: 0.5rem;
    width: 50%!important;
    max-height: 60vh;
    object-fit: cover;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5%;
}

/* General data section */
.generalDataDiv{
    margin: 50px 4%!important;
    width: 90%;
    height: 40vh;
    display: grid;
    padding: 50px 0px; 
    text-align: center;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    justify-content: center;
    box-shadow: var(--main-box-shadow);
}
/* patients-nb */
.patients-nb-section{
    margin-left: -20px;
}
.generalDataDiv .fa-circle-user{
    font-size: 40px;
    color: #25ced188;
    margin-bottom: 30px;
}
.generalDataDiv h5{
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
}
#nb-of-patients{
    margin-bottom: 0px;
}

/* done patient numbers */
.svg_box {
	width: 100%;
    position: relative;
    top: -72px!important;
    left: -150px!important;
}
svg {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
}
#myTimer{
    /* fill: rgb(122, 170, 94); */
    fill: var(--main-orange);
    font-weight: 500;
}
#text{
    font-weight: 500;
}
/* Canceled Section */
.canceled-section{
    text-align: center;
    justify-self: start;
}
.canceled-section .fa-user-xmark{
    font-size: 30px;
    /* color: #fc9f7ac9; */
    color: var(--main-orange);
    margin-bottom: 30px;
    margin-top: 10px;
}

/* Progress lines */
.progress-section{
    justify-self: start;
    margin-right: 100px;
    margin-left: -50px;
}
.progress-bar{
    background-color: var(--main-blue);
}
.progress{
    width: 120%;
}
/* Patient actions div */

#patient-form-div, #edit-patient-form-div{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.5rem;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.progress{
  background-color: var(--main-gray);
}
#add-patient-modal .modal-body, #edit-patient-modal .modal-body{
  padding: 0px;
}
#add-patient-modal .modal-content, #edit-patient-modal .modal-content{
  border-radius: 0.5rem;
  border-color: rgba(0,0,0,.125);
}
#patient-form-div .progress, #edit-patient-form-div .progress{
  width: 100%;
  /* border-top-right-radius: 0px;
  border-top-left-radius: 0px; */
  border-radius: 0px;
  height: 6px;
  border-bottom: 1px solid #dee2e6;
  background-color: var(--main-transparent-gray);
}
#patient-form-title, #edit-patient-form-title{
  background-color: var(--main-transparent-gray);
  border-radius: 0.5rem;
  padding: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: grid;
  grid-template: 1fr/ 30fr 1fr;
}
#add-patient-form , #edit-patient-form{
  padding: 40px;
  text-align: left;
}
.patient-form-s-title h4{
  color: var(--main-orange);
  margin-bottom: 20px;
}

#add-patient-form .inputs-group, #edit-patient-form .inputs-group{
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  column-gap: 50px;
  margin: 0 20px;
}
#add-patient-form label, #edit-patient-form label {
  font-weight: 450;
}
#add-patient-form  .form-control, #add-patient-form  .form-select , #edit-patient-form  .form-control, #edit-patient-form  .form-select{
  background-color: var(--main-transparent-gray)!important;
  opacity: 0.7;
  margin-bottom: 1.5em;
}
#add-patient-form  .form-control:focus,  #add-patient-form  .form-select:focus, #edit-patient-form  .form-control:focus,  #edit-patient-form  .form-select:focus{
  background-color: white;
  box-shadow: 0 0 0 0.25rem #a7eff8!important;
}

#add-patient-form  #patient-file-btn{
  border-radius: 0.5rem;
  background-color: var(--main-blue);
  color: var(--main-font-color);
  box-shadow: var(--main-box-shadow);
  border: 4px solid rgba(0,0,0,0.1) !important;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  width: 45%;
}
#add-patient-form  #patient-file-btn:hover, #add-patient-form  #patient-file-btn:focus{
  border:  4px solid  #7be0e0!important;
  box-shadow: none!important;
}
#add-patient-form  #patient-file-btn:active {
  transform: scale(0.95);
  background-color: var(--main-color);
}

#add-patient-main-btn , #edit-patient-main-btn{
  background-color: var(--main-orange);
  color: white!important;
}
#add-patient-main-btn .bi-person-plus-fill{
  color: white!important;
  padding-right: 5px;
}
#add-patient-main-btn:hover , #edit-patient-main-btn:hover{
  background-color: white!important;
  color: var(--main-font-color)!important;

  .bi-person-plus-fill{
      color: var(--main-font-color)!important;
  }
}
#add-patient-main-btn:focus, #edit-patient-main-btn:focus{
  background-color: white!important;
  color: var(--main-font-color)!important;

  .bi-person-plus-fill{
      color: var(--main-font-color)!important;
  }
}

/* Main body */
.main-body{
    width: 90%;
    margin: 50px 4%!important;
    box-shadow: var(--main-box-shadow);
    text-align: center;
    padding: 50px 20px; 
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.5rem;
    background-color: white;
}

/* key-events */
.key-events{
    display: grid;
    grid-template: 1fr/ 1fr 2fr 1fr;
    /* border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.5rem; */
    /* text-align: center; */
    height: auto;
    /* width: 90%; */
    width: 100%;
    padding: 0px 50px 30px !important;
    /* padding: 20px 20px;  */
}
/* Filter  */
.key-events .filter{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    width:120px;
    height: 50px;
    box-shadow: var(--main-box-shadow);
    font-size: 18px !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    border-color: #ced4da!important;
    border-radius: 0.5rem;
    /* padding-top: 7px!important; */
    padding: 9px !important;
    /* padding-right: 12px; */
    background-color: transparent!important;
    .fa-filter{
        font-size: 1.5rem;
        padding-top: 2px;
    }
}
.key-events .filter:active{
    background-color: var(--main-gray)!important;
}
.key-events .filter:hover{
    border-color: var(--main-color)!important;
}
/* .key-events .filter:focus{
    border-color: var(--main-orange)!important;
} */
.key-events .filter h5{
    font-weight: 500;
    margin-left: 10px;
}
.key-events li:not(.dropdown-divider){
    padding: 2px  20px !important;
    margin: 0px!important;
    box-sizing: border-box;
    font-weight: 400!important;
    cursor: pointer;
}
.key-events .dropdown-menu p{
    padding:0px !important;
    margin-bottom: 0px!important;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
}
.key-events li:hover{
    background-color: var(--main-blue);
}
.key-events li:focus{
    background-color: var(--main-orange);
}
.key-events li.active{
    background-color: var(--main-orange)!important;
}

/* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 80%;
    border-radius: 0.5rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--main-transparent-gray);
  }

  form.example input[type=text]:focus{
    border-color: var(--main-blue)!important;
    background-color: white;
    box-shadow: 0 0 0 0.25rem #a7eff8;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    padding:10px 5px;
    background: var(--main-blue);
    border-radius: 0.5rem;
    font-size: 17px;
    border-left: none; /* Prevent double borders */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none!important;
    cursor: pointer;
  }
  
  form.example button:focus {
    background-color: var(--main-color)!important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    /* border-color: var(--main-orange)!important; */
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Add patient button */
  .add-patient-section{
    justify-self: end;
  }
  #add-patient-nav-btn{
    background-color: var(--main-orange);
    color: white!important;
  }
  #add-patient-nav-btn .bi-person-plus-fill{
    color: white!important;
    padding-right: 5px;
  }
  #add-patient-nav-btn:hover{
    background-color: white!important;
    color: var(--main-font-color)!important;
  
    .bi-person-plus-fill{
        color: var(--main-font-color)!important;
    }
  }
  #add-patient-nav-btn:focus{
    background-color: white!important;
    color: var(--main-font-color)!important;

    .bi-person-plus-fill{
        color: var(--main-font-color)!important;
    }
  }

  .sperator{
    margin-top: 40px;
    height: 5px!important;
    border-radius: 0.5rem;
    background-color: var(--main-orange);
  }



  /* Titles */
  .titles{
    margin-top: 30px;
    padding-top: 20px!important;
    background-color: var(--main-transparent-gray);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
  .row-{
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: grid;
    grid-template: 1fr/ 1fr 2fr 1fr 1fr 1fr 1fr 2fr;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    /* margin-bottom: 20px; */
    font-weight: 400;
    padding: 10px 0px;
    padding-top: 20px;
  }
  .row-.titles{
    border-color: var(--main-orange);
    border-width: 4px;
  }
  .check{
    height: auto;
    justify-self: center;
    margin-top: -15px;
    cursor: pointer;
  }
  .titles p{
    font-weight: 500;
    font-size: 14px;
  }
  .name{
    justify-self: start!important;
    display: flex;
    flex-direction: row;
    margin-left: -30px;
    font-size: 14px;
    cursor: pointer;
  }

  /* Patients */
  .patient-img{
    border-radius: 50%;
    width:60px; 
    height: 60px;
    object-fit: cover;
    margin: 0px;
    margin-right: 10px;
    padding:0px;
  }
  .patient-name{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
  }
  .patients-list p{
    font-size: 16px;
  }
  .active-p::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 0.25rem;
    background-color: var(--main-orange);
    margin-right: 8px;
  }
  .non-active-p::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 0.25rem;
    background-color: var(--main-font-color);
    margin-right: 8px;
  }
  .new-patient-p::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 0.25rem;
    background-color: var(--main-blue);
    margin-right: 8px;
  }
  .patient-diagnosis{
    font-weight: 500;
    font-size: 18px;
    text-align: left;
  }
  .actions{
    justify-self: center;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    margin-top: -20px;
  }
  .actions i{
    font-size: 18px;
  }
.fa-trash-can{
    color: var(--main-orange);
    cursor: pointer;
}
.fa-pen-to-square{
    color: var(--main-blue);
    cursor: pointer;
}
.row-.canceled:after{
  content: "";
  display: inline-block;
  position: absolute;
  width: 80%;
  height: 0%;
  border: 1px solid var(--main-orange);
  margin: auto;
  transform: translate(35px, -7px);
}
.row-.canceled{
  background-color: var(--main-gray);
}

/* Profile Card Container */
.profile-card {
  background-color: white;
  border-radius: 0.5rem;
  padding: 20px;
  margin: 0!important;
  display: none;
}
.profile-card-header{
  display: grid;
  grid-template: 1fr / 1fr 3fr 1fr;
}
#patient-profile-modal .modal-body{
  padding: 0!important;
}
#close-profile-card{
  justify-self: end;
}
/* Profile Image */
.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;

}
#patient-profile-modal h3{
  font-size: 1.2rem;
  margin-bottom: 5px;
}
#patient-profile-modal .fa-star-of-life{
  padding-right: 15px;
}
.fa-star-of-life.active-p-selector{
  color: var(--main-orange);
}
.fa-star-of-life.non-active-p-selector{
  color: var(--main-font-color);
}
.fa-star-of-life.new-patient-p-selector{
  color: var(--main-blue);
}
#profile-phone{
  font-size: 1.3rem;
  color: var(--main-blue);
}

/* Profile Details */
.profile-details {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 20px;
}
.profile-details .fa-solid{
  padding-right: 10px;
}

#patient-profile-modal  h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.profile-details p {
  margin: 5px 0;
  font-size: 1rem;
}

.first-pcard-grid{
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  text-align: left;
  margin: auto 50px!important;
  column-gap: 90px;
}
.left-text{
  text-align: left;
  margin: auto 50px!important;
}

