body{
    background-color: var(--main-gray);
    padding: 0!important;
}
.main{
    padding-top: 50px;
  }
.footer{
    background-color: white;
}
/* Page structure when user not signin */
#privacy-error{
    display: none;
}

#negativeAlert{
    box-shadow: var(--main-box-shadow);
    margin-right: 30%;
    width: 60%;
    left: 20%;
    margin-top: 3%;
    background-color: #fc9f7ac9;
    font-size: 20px!important;
    border-color: var(--main-orange);
}

.bi-x-octagon-fill{
    font-size: 30px!important;
    padding-right: 20px;
}

.alert button{
    border: none!important;
    box-shadow: none;
    font-size: 20px!important;
    display: block!important;
    margin: auto!important;
    padding: 25px 20px!important;
    background-color: transparent!important;
}

.logImage{
    border-radius: 0.5rem;
    width: 50%!important;
    max-height: 60vh;
    object-fit: cover;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 5%;
}
.prof-first-div{
    margin: 50px 4%!important;
    width: 90%;
    height: auto;
    padding: 50px 50px; 
    box-shadow: var(--main-box-shadow);
}
.socials{
    display: none;
}
.socials-grid{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr ;
}
.socials input{
    margin-top: 10px;
    border-radius: 0.25rem;
    padding: 4px;
}
#saveBtn{
    display: none;
}
.fa-floppy-disk{
    padding-right: 10px;
}
.prof-grid{
    display: grid;
    grid-template: 1fr/ auto auto 1fr;
    column-gap: 50px;
    justify-content: start;
}
.prof-first-div input:focus, .prof-first-div textarea:focus{
    outline: 1px solid rgba(0,0,0,0.1) !important;
    border-radius: 0.25rem;
    background-color: var(--main-transparent-gray);
    }
.btns-container{
    position: absolute!important;
    right:50px;
    top: 40px;
}
.btns-container button{
    color: var(--main-font-color);
}
.fa-square-plus{
    padding-right: 10px; 
}
.fa-pen-to-square{
    padding-right: 10px;
}
.prof-imag{
    border-radius: 50%;
    border: 3px solid var(--main-color) ;
    /* #d3d2d2 */
    width:200px;
    height: 200px;
    object-fit: cover;
    /* position: relative;
    z-index: 4!important; */
}
.prof-social-icons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fa-square-twitter , .fa-linkedin, .fa-square-facebook{
    font-size: 30px;
    color: #c4c2c2;
}
.fa-square-twitter:hover{
    color: var(--main-blue);
}
.fa-linkedin:hover{
    color: rgb(47, 103, 189);
}
.fa-square-facebook:hover{
    color: rgb(34, 73, 133);
}
.prof-first-div h3{
    font-size: 1.1rem;
}
.prof-first-div h3 input{
    font-weight: 400;
}
.prof-first-div  textarea{
    width: 100%;
    height: 50%;
    border: none;
    overflow: hidden;
}
/* .design-hr{
    position: absolute;
    width: 100%;
    left: 0;
    transform: translateY(-10px);
    z-index: 2;
} */
.contacts-prof-info-div{
    margin-top: 50px;
}
.fa-graduation-cap{
    color: var(--main-orange);
    padding-right: 10px;
}
.prof-user-job-title{
    color: var(--main-orange);
    font-style: italic;
}
.contacts-prof-info-div .fa-solid{
    margin-right: 10px;
    color: var(--main-blue);
}
.prof-first-div input{
    border: none;
    width: 90%;
}
.experiences-div{
    margin: 50px 4%!important;
    width: 90%;
    height: auto;
    padding: 50px 50px; 
    justify-content: start;
    box-shadow: var(--main-box-shadow);
}
.experiences-div h2{
    color: var(--main-blue)
}
.experiences-div input{
    border: none;
}
.experiences-div textarea{
    width: 100%;
    height: 50%;
    border: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.experiences-div  i {
    color: var(--main-orange);
    margin-right: 10px;
}
.experience-info{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    justify-content: space-around;
}
#saveExperienceBtn{
    display: none;
}
.experiences-div input:focus, .experiences-div textarea:focus{
    outline: 1px solid rgba(0,0,0,0.1) !important;
    border-radius: 0.25rem;
    background-color: var(--main-transparent-gray);
    } 
      
hr{
    box-shadow: 0px 2px 8px var(--main-orange);
}

/* todo div */
.add-todo-div{
    margin: 50px 4%!important;
    width: 90%;
    height: auto;
    padding: 50px 50px; 
    justify-content: start;
    box-shadow: var(--main-box-shadow);
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
}
.add-todo-div h2{
    color: var(--main-blue)
}
#addToDoForm{
    margin-top: 20px;
    margin-left: 20px;
}

.add-todo-div label {
    font-weight: 450;
}
.add-todo-div input[type="text"], .add-todo-div input[type="date"]{
    width: 80%;
}
.add-todo-div form .form-control {
background-color: #eeebf3;
opacity: 0.7;
margin-bottom: 1.5em;
}
.add-todo-div form .form-control:focus{
background-color: white;
box-shadow: 0 0 0 0.25rem #a7eff8;
}
/* .input-grid-todo{
display: grid;
grid-template: 1fr/ 1fr 1fr;
} */

.form-check{
margin-left: 20px;
}
.todopara{
    padding-top: 20px;
}
#addTodoBtn{
    width: 80%!important;
    background-color: var(--main-orange);
    color: white;
    margin-top: 8%!important;
}

.personal-input{
border: 1px solid var(--main-color);
}
.personal-input:checked {
background-color: var(--main-blue);
border-color: var(--main-blue);
}
.personal-input:focus{
    box-shadow: 0 0 0 0.25rem var(--main-color);
} 

.business-input:checked {
    background-color: var(--main-orange);
    border-color: var(--main-orange);
}
.business-input:focus{
    box-shadow: 0 0 0 0.25rem #ff895bd5;
} 
.business-input{
    border: 1px solid #ff895bd5;
}



.todolist{
    margin-left: 5%;
}

.todolist-title h2{
    display: inline;
}
.todolist-title .dropdown{
    display: inline!important;
}

.todolist-title .filter{
    margin-left: 40%!important; 
    width:100px;
    height: 43px;
    box-shadow: var(--main-box-shadow);
    border: 1px solid rgba(0,0,0,0.1) !important;
    border-color: #ced4da!important;
    background-color: transparent!important;
    color: var(--main-font-color);
    padding: 0 !important;

}
.todolist-title .fa-filter{
    padding-right: 10px;
    color: var(--main-orange);
}
.todolist-title .filter:active{
    background-color: var(--main-gray)!important;
}
.todolist-title .filter:hover{
    border-color: var(--main-color)!important;
}

.todolist-title .filter h5{
    font-weight: 500;
    margin-left: 10px;
}


.todolist-title li:not(.dropdown-divider){
    padding: 2px  20px !important;
    margin: 0px!important;
    box-sizing: border-box;
    font-weight: 400!important;
    cursor: pointer;
}
.todolist-title .dropdown-menu p{
    padding:0px !important;
    margin-bottom: 0px!important;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
}
.todolist-title li:hover{
    background-color: var(--main-blue);
}
.todolist-title li:focus{
    background-color: var(--main-orange);
}
.todolist-title li.active{
    background-color: var(--main-orange)!important;
}

/* .row-{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    margin-top: 40px;
    justify-items: start;
} */
.row-{
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: grid;
    grid-template: 1fr/ 1fr 3fr 1fr;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    /* margin-bottom: 20px; */
    font-weight: 400;
    padding: 10px 0px;
    padding-top: 30px;
  }
.check{
    height: auto;
    justify-self: center;
    margin-top: -15px;
    cursor: pointer;
  }
  .actions .fa-regular, .actions .fa-solid{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .actions .fa-regular{
    color: var(--main-blue);
  }
  .actions .fa-solid{
    color: var(--main-orange)
  }
  #todo-description{
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
  }
  .row- .fa-calendar-check{
    padding-top: 0!important;
    margin-top: 0!important;
    font-size: 14px;
    padding-left: 10px;
  }
  .row- .date{
    font-size: 14px;
    padding-left: 10px;
  }
  .row- input{
    outline: none;
    border: none;
    background-color: transparent;
  }

  input[type="checkbox"] {
    width:16px;
    height:16px;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid var(--main-font-color);
    border-radius: 3px;
    box-shadow:1px 1px 3px #ddd;
    outline:none;
    display:inline-block;
    position:relative;
  padding:5px;
  }
  
  .businessCheck{
    border-color: var(--main-orange)!important;
  }

 .businessCheck:checked {
    background: var(--main-orange);
  }
  .businessCheck:checked:after  {
    background: var(--main-orange);
    color:#fff;
    font-size:12px;
  }
  .PersonalCheck:checked {
    background: var(--main-blue);
  }
  .PersonalCheck{
    border-color: var(--main-blue)!important;
  }
  .PersonalCheck:checked:after  {
    background: var(--main-orange);
    color:#fff;
    font-size:12px;
  }