:root {
  --main-color: #a7eff8;
  --gradient: linear-gradient(
    135deg,
    var(--main-color),
    var(--main-blue)
  );
  --main-orange: #FF8A5B;
  --main-blue: #25CED1;
  --main-gray: #F4F4F4;
  --main-transparent-gray: #eeececcc;
  --main-font-color: rgba(0, 0, 0, 0.55);
  --main-dark-font-color: rgba(37, 37, 37, 0.55);
  --main-box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);

  --white: #FFFFFF;
--grey: #AAAAAA;
--light: #F2E8E4;
}
body{
  background-color: var(--main-gray);
}
.profile{
  display: block;}
/* #getSignInForm, #getSignUpForm{
  display: none;
}
.profile{
  display: block;
} */
/* #getSignInForm, #getSignUpForm{
  display: block;
}
.container p {
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container a {
  color: var(--main-font-color);
  text-decoration: none;
  margin: 15px 0;
}

.container button {
  background: var(--main-blue)!important;
  color: var(--main-font-color);
  font-size: 20px!important;
  padding: 10px 30px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: background-color 0.6s;
  transition-timing-function: ease;
}

.container button:hover {
  background-color: var(--main-blue)!important;
  color: rgb(70, 70, 70)!important;
}

.container button:active {
  transform: scale(0.95);
  background-color: var(--main-color)!important;
}

.social-container {
  border: none;
  margin: 13px 0;
  width: 100%;
  padding: 8px 30px!important;
  font-family: inherit;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  transition-timing-function: ease;
  text-transform: capitalize;
  box-shadow: var(--main-box-shadow);
  font-weight: 500;
  color: var(--main-font-color);
  background-color: var(--main-color)!important;
}

.social-container a {
  border-radius: 0.5rem;
  margin: 0 5px;
}
.container button.ghost {
  background-color: var(--main-orange)!important;
}

.container button.ghost:hover {
  background: white!important;
  color: rgb(70, 70, 70)!important;
}
.container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: var(--main-box-shadow);
  position: relative;
  overflow: hidden;
  height: 1000px;
  width: 480px;
  max-width: 100%;
  margin-top: 35px;
}
.container form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
  
.container input {
  background-color: var(--main-gray);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-family: inherit;
  border-radius: 0.5rem;
}
.container input:focus{
  outline-color: var(--main-blue);
  background-color: #faf9f9;
  font-weight: 500;
}
  
  
.form-container {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.6s ease-in-out;
}
  
.sign-in-container {
  top: 0;
  height: 50%;
  z-index: 2;
}
.sign-up-container {
  top: 0;
  height: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-in-container {
  transform: translateY(100%);
}
  
.container.right-panel-active .sign-up-container {
  transform: translateY(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
  
  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
.overlay-container {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
  
  .container.right-panel-active .overlay-container {
    transform: translateY(-100%);
  }
  
.overlay {
  background: var(--main-gray);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: relative;
  top: -100%;
  width: 100%;
  height: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
  
.container.right-panel-active .overlay {
  transform: translateY(50%);
}
  
.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  left: 0;
  width: 100%;
  height: 50%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
  
.overlay-left {
  transform: translateY(-20%);
}
  
.container.right-panel-active .overlay-left {
  transform: translateY(0);
}
  
.overlay-right {
  bottom: 0;
  transform: translateY(0);
}
  
.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}
  
@media only screen and (min-width: 850px) {

  .container {
    width: 768px;
    max-width: 100%;
    height: 480px;
  }

  .form-container {
    top: 0;
    height: 100%;
    width: 50%;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    height: 100%;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    height: 100%;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
  }

  .overlay-container {
    left: 50%;
    top: 0;
    height: 100%;
    width: 50%;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    top: 0;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    top: 0;
    left: 50%;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
} */
  
.modal{
  text-align: center;
}
.modal-content{
  background-color: var(--main-gray);
}
.modal input{
  width: 60%;
  margin: 1.5em auto;
} 
.modal-title{
  text-align: center !important;
  width: 100%;
  color: var(--main-blue)
}
.modal button:hover , .modal button:focus{
  background-color: var(--main-blue);
}
.modal button{
  color: var(--main-font-color);
}
.important{
  color: var(--main-orange)!important;
}
#closeBtn{
  background-color: var(--main-orange);
}
#sendVerificationEmailBtn{
  background-color: var(--main-blue);
}
#closeBtn:hover{
  background-color: #fc9e7a;
  border-color: var(--main-orange)!important;
}

#negativeAlert{
  box-shadow: var(--main-box-shadow);
  margin-right: 30%;
  width: 60%;
  left: 20%;
  margin-top: 3%;
  background-color: #fc9f7ac9;
  font-size: 20px!important;
  border-color: var(--main-orange);
}
#positiveAlert{
  box-shadow: var(--main-box-shadow);
  margin-right: 30%;
  width: 60%;
  left: 20%;
  margin-top: 3%;
  background-color: #7be0e0b6!important;
  font-size: 20px!important;
  border-color: var(--main-blue);
}
.alert button{
  border: none!important;
  box-shadow: none;
  font-size: 20px!important;
  display: block!important;
  margin: auto!important;
  padding: 25px 20px!important;
  background-color: transparent!important;
}
.alert{
  display: none;
}
.bi-x-octagon-fill, .bi-check-circle{
  font-size: 30px!important;
  padding-right: 20px;
}
.logImage{
  border-radius: 0.5rem;
  width: 60%!important;
  max-height: 60vh;
  object-fit: cover;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}








.container main {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  column-gap: 10%;
}
/* .container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 20px;
} */
.container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  /* margin-top: 20px; */
}

.container form, p, .social-sign {
  width: 75%;
}

  .container form h3 {
    color: var(--main-font-color);
    margin-bottom: 1em;
  }
  .container label {
    font-weight: 450;
  }
  .container form .form-control {
    /* background-color: #e5e2e9; */
    background-color: #eeebf3;
    opacity: 0.7;
    margin-bottom: 1.5em;
  }
  .container form .form-control:focus{
    background-color: white;
    box-shadow: 0 0 0 0.25rem #a7eff8;
}

  .container form .submit-btn {
    background-color: var(--main-orange);
    color: var(--white);
    width: 100%;
  }
  .container form .submit-btn:hover {
    background-color: white;
    color: var(--main-font-color);
    /* border-color: var(--main-orange)!important; */
  }


.container p {
  color: var(--grey);
}
.hr-lines{
  position: relative;
  max-width: 500px;
  margin: 45px 0;
  text-align: center;
}
.hr-lines::before {
    content:" ";
    height: 2px;
    width: 150px;
    background: var(--grey);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  .hr-lines:after {
    content:" ";
    height: 2px;
    width: 150px;
    background: var(--grey);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }


  .container .social-sign button {
    width: 100%;
    border-color: var(--main-orange)!important;
  }
  .container .social-sign button:hover {
    background: var(--main-orange);
    color: var(--white);
    border-color: rgba(0,0,0,0.1)!important;
  }
  .container .social-sign .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }


.container .sign-footer {
  margin: 1em 0;
  text-align: center;
}
.container a {
  color: var(--main-blue)!important;
  text-decoration: underline!important;
  cursor: pointer;
}