:root {
  --main-color: #a7eff8;
  --secondary-color: #2193b0;
  --gradient: linear-gradient(
    135deg,
    var(--main-color),
    var(--main-blue)
  );
  --main-orange: #FF8A5B;
  --main-blue: #25CED1;
  --main-gray: #F4F4F4;
  --main-transparent-gray: #f4f4f4cc;
  --main-font-color: rgba(0, 0, 0, 0.55);
  --main-box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
}
body{
  background-color: var(--main-gray);
}
.container p {
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  transition: background-color 0.8s;
  transition-timing-function: ease;
}
.social-container a:hover{
  background-color: var(--main-orange);
}
.container a {
  color: var(--main-font-color);
  text-decoration: none;
  margin: 15px 0;
}

.container button {
  background: var(--main-blue)!important;
  color: var(--main-font-color);
  font-size: 20px!important;
  padding: 10px 30px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
  transition: background-color 0.6s;
  transition-timing-function: ease;
}

.container button:hover {
  background-color: var(--main-blue)!important;
  color: rgb(70, 70, 70)!important;
}

.container button:active {
  transform: scale(0.95);
  background-color: var(--main-color)!important;
}

.container button.ghost {
  background-color: var(--main-orange)!important;
}

.container button.ghost:hover {
  background: white!important;
  color: rgb(70, 70, 70)!important;
}
.container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: var(--main-box-shadow);
  position: relative;
  overflow: hidden;
  height: 1000px;
  width: 480px;
  max-width: 100%;
  margin-top: 35px;
}
.container form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
  
.container input {
  background-color: var(--main-gray);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-family: inherit;
  border-radius: 0.5rem;
}
.container input:focus{
  outline-color: var(--main-blue);
  background-color: #faf9f9;
  font-weight: 500;
}
  
  
.form-container {
  position: absolute;
  top: 0;
  width: 100%;
  transition: all 0.6s ease-in-out;
}
  
.sign-in-container {
  top: 0;
  height: 50%;
  z-index: 2;
}
.sign-up-container {
  top: 0;
  height: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-in-container {
  transform: translateY(100%);
}
  
.container.right-panel-active .sign-up-container {
  transform: translateY(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
  
  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
.overlay-container {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
  
  .container.right-panel-active .overlay-container {
    transform: translateY(-100%);
  }
  
.overlay {
  background: var(--gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: relative;
  top: -100%;
  width: 100%;
  height: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
  
.container.right-panel-active .overlay {
  transform: translateY(50%);
}
  
.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  left: 0;
  width: 100%;
  height: 50%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}
  
.overlay-left {
  transform: translateY(-20%);
}
  
.container.right-panel-active .overlay-left {
  transform: translateY(0);
}
  
.overlay-right {
  bottom: 0;
  transform: translateY(0);
}
  
.container.right-panel-active .overlay-right {
  transform: translateY(20%);
}
  
@media (min-width: 768px) {

  .container {
    width: 768px;
    max-width: 100%;
    height: 480px;
  }

  .form-container {
    top: 0;
    height: 100%;
    width: 50%;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    height: 100%;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    height: 100%;
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
  }

  .overlay-container {
    left: 50%;
    top: 0;
    height: 100%;
    width: 50%;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    top: 0;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    top: 0;
    left: 50%;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
}
  