:root {
  --main-color: #a7eff8;
  --gradient: linear-gradient(
    135deg,
    var(--main-color),
    var(--main-blue)
  );
  --main-orange: #FF8A5B;
  --main-blue: #25CED1;
  --main-gray: #F4F4F4;
  --main-transparent-gray: #eeececcc;
  --main-font-color: rgba(0, 0, 0, 0.55);
  --main-dark-font-color: rgba(37, 37, 37, 0.55);
  --main-box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);

  --white: #FFFFFF;
--grey: #AAAAAA;
--light: #F2E8E4;
}
body{
  padding-top: 0!important;
  background-color: var(--main-gray);
}
.main{
  margin-top: 100px;
}
.offcanvas-title {
  width: 50%;
} 
.offcanvas span{
  margin-left: 70px;
} 
.modal{
  text-align: center;
}
.modal-content{
  background-color: var(--main-gray);
}
.modal input{
  width: 60%;
  margin: 1.5em auto;
} 
.modal-title{
  text-align: center !important;
  width: 100%;
  color: var(--main-blue);
}
.modal button:hover , .modal button:focus{
  background-color: var(--main-blue);
}
.modal button{
  color: var(--main-font-color);
}
.important{
  color: var(--main-orange)!important;
}
#closeBtn{
  background-color: var(--main-orange);
}
#sendVerificationEmailBtn{
  background-color: var(--main-blue);
}
#closeBtn:hover{
  background-color: #fc9e7a;
  border-color: var(--main-orange)!important;
}

#negativeAlert{
  box-shadow: var(--main-box-shadow);
  margin-right: 30%;
  width: 60%;
  left: 20%;
  margin-top: 3%;
  background-color: #fc9f7ac9;
  font-size: 20px!important;
  border-color: var(--main-orange);
}
#positiveAlert{
  box-shadow: var(--main-box-shadow);
  margin-right: 30%;
  width: 60%;
  left: 20%;
  margin-top: 3%;
  background-color: #7be0e0b6!important;
  font-size: 20px!important;
  border-color: var(--main-blue);
}
.alert button{
  border: none!important;
  box-shadow: none;
  font-size: 20px!important;
  display: block!important;
  margin: auto!important;
  padding: 25px 20px!important;
  background-color: transparent!important;
}
.alert{
  display: none;
}
.bi-x-octagon-fill, .bi-check-circle{
  font-size: 30px!important;
  padding-right: 20px;
}
.logImage{
  border-radius: 0.5rem;
  width: 60%!important;
  max-height: 60vh;
  object-fit: cover;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}




.container main {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  column-gap: 10%;
}

.container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 20px;
}

.container form, .container p, .social-sign {
  width: 75%;
}

  .container form h3 {
    color: var(--main-font-color);
    margin-bottom: 1em;
  }
  .container label {
    font-weight: 450;
  }
  .container form .form-control {
    /* background-color: #e5e2e9; */
    background-color: #eeebf3;
    opacity: 0.7;
    margin-bottom: 1.5em;
  }
  .container form .form-control:focus{
    background-color: white;
    box-shadow: 0 0 0 0.25rem #a7eff8;
}

  .container form .submit-btn {
    background-color: var(--main-orange);
    color: var(--white);
    width: 100%;
  }
  .container form .submit-btn:hover {
    background-color: white;
    color: var(--main-font-color);
  }


.container p {
  color: var(--grey);
}
.hr-lines{
  position: relative;
  max-width: 500px;
  margin: 45px 0;
  text-align: center;
}
.hr-lines::before {
    content:" ";
    height: 2px;
    width: 150px;
    background: var(--grey);
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  .hr-lines:after {
    content:" ";
    height: 2px;
    width: 150px;
    background: var(--grey);
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }


  .container .social-sign button {
    width: 100%;
    border-color: var(--main-orange)!important;
  }
  .container .social-sign button:hover {
    background: var(--main-orange);
    color: var(--white);
    border-color: rgba(0,0,0,0.1)!important;
  }
  .container .social-sign .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }


.container .sign-footer {
  margin: 1em 0;
  text-align: center;
}
.container a {
  color: var(--main-blue)!important;
  text-decoration: underline!important;
  cursor: pointer;
}