/* Grneral styles */
:root{
    --main-color: #a7eff8;
    --main-orange: #FF8A5B;
    --main-blue: #25CED1;
    --main-gray: #F4F4F4;
    --main-transparent-gray: #f4f4f4cc;
    --main-font-color: rgba(0, 0, 0, 0.55);
    --main-box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
}
* {
    margin: 0;
    color:  rgba(0, 0, 0, 0.55);
}
body{
    padding-top: 67px;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-blue);
    border-radius: 5rem;
}

/* All body content before loading */
.main{
    display: none;
}

/* Main Buttons Style */
button{
    color: var(--main-font-color);
    box-shadow: var(--main-box-shadow);
    font-size: 18px !important;
    /* border: 4px solid rgba(0,0,0,0.1) !important; */
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 10px;
}
button:hover, button:focus{
    /* border:  4px solid  #7be0e0!important; */
    border: 1px solid rgba(0,0,0,0.1) !important;
    box-shadow: none!important;
}
button:active {
    transform: scale(0.95);
    background-color: var(--main-color);
}

/* All cards style */
.card{
    border-radius: 0.5rem!important;
}

/*  Preloader   */
.loader-container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Recursive';
    z-index: 1000;
    position: absolute;
}
.loader-container h1{
    font-size: 2rem!important;
    color: black!important;
    margin: 0!important;
    padding: 0!important;
}

.loader{
    position: relative; 
}

.loader img {
  width: 100%;
}

.slide-box {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

.solid {
    width: 100%;
    background-color: white;
}

.heading {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.dot {
    border-radius: 50%;
    background-color: black;
    margin-left: 10px;
}
#d1 {
    width: 11px;
    height: 11px;
}

#d2 {
    width: 10px;
    height: 10px;
}

#d3 {
    width: 9px;
    height: 9px;
}

/*  Navbar  */
.navbar{
    background-color: var(--main-gray);
    box-shadow: var(--main-box-shadow);
    padding-right: 4%;
    padding-left: 4%; 
    font-size: 20px;
}
/* Nav Brand */
.navbar-brand{
    font-size: 30px;
    padding-top: 0px;
    color: var(--main-font-color)!important;
    font-weight: 600;
}
.bi-journal-medical{
    color: var(--main-orange);
    font-size: 32px;
}
.brand-title-style{
    text-decoration: underline;
    color: var(--main-blue);
}
/* Nav links  */
.nav-link.active{
    color: var(--main-blue)!important;
}
.nav-link:focus{
    color: var(--main-orange)!important; 
}
.about-section:target{
    scroll-margin-top: 40px;
}
/* Nav dropdown */
.dropdown-menu{
    background-color: var(--main-gray);
    border: 4px solid rgba(0,0,0,0.1) !important;
    box-sizing: border-box;
}
.dropdown-item:hover{
    background-color: var(--main-blue);
}
.dropdown-item:focus{
    background-color: var(--main-orange);
}
.dropdown-item.active{
    background-color: var(--main-orange)!important;
}
/* Nav sign-in-up buttons */
#getSignInForm, #getSignUpForm{
    display: none;
}
.get-sign-in-form{
    background-color: var(--main-blue);
    margin-right: 10px;
    color: var(--main-font-color);
    box-shadow: var(--main-box-shadow);
    font-size: 18px !important;
    /* border: 4px solid rgba(0,0,0,0.1) !important; */
    border: 1px solid rgba(0,0,0,0.1) !important;
    box-sizing: border-box;
}
.get-sign-up-form{
    background-color: var(--main-orange);
    color: var(--main-font-color);
    box-shadow: var(--main-box-shadow);
    font-size: 18px !important;
    /* border: 4px solid rgba(0,0,0,0.1) !important; */
    border: 1px solid rgba(0,0,0,0.1) !important;
    box-sizing: border-box;
    background-color: #ff895bf1;
}
.get-sign-up-form:hover, .get-sign-up-form:focus, .get-sign-up-form.active{
    /* border:  4px solid #fda17c!important; */
    background-color: #ff895bd5;
    box-shadow: none!important;
}
.get-sign-in-form:hover, .get-sign-in-form:focus, .get-sign-in-form.active{
    /* border:  4px solid  #7be0e0!important; */
    box-shadow: none!important;
    background-color: #6ececed8;
}
/* Profile section in Nav */
.profile:hover{
    .userName{
        color: rgb(95, 93, 93);
    }
    .fa-user-doctor{
        color: var(--main-orange);
        border-color: var(--main-orange);
    }
    .profile-photo{
        box-shadow: none;
        background-color: var(--main-gray)!important;
        border: none!important;
    }
}

.profile:active{
    .fa-user-doctor{
        color: var(--main-blue);
        border-color: var(--main-blue);
        transform: scale(0.95);
    }
    .userName{
        color: var(--main-font-color);
    }
} 

nav .fa-user-doctor{
    color: var(--main-orange);
    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 0px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 0.5rem;
    border: 3px solid var(--main-orange);
}
nav .profile-photo{
    margin-right: 10px;
    border-radius: 0.5rem; 
    border: none!important;
    padding: 0px!important;
}
/* Choosen photo */
.profile-main-photo{
    border-radius: 0.5rem;
}
nav .profile-main-photo{
    width: 35px;
    height: 35px;
}
.userName{
    align-self: center!important;
    text-align: center!important;
    color: var(--main-font-color);
    text-decoration: none;
}

/* Profile Offcanvas */
.offcanvas{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: auto!important;
    background-color: var(--main-gray);
    width: 50vw;
}
.offcanvas-header{
    justify-content: flex-end;
    column-gap: 10px;
}
.offcanvas-title{
    width: 80%;
    margin: auto;
    text-align: center;
}
#profilePhotoBtn img{
    object-fit: cover;
}
.offcanvas .fa-user-doctor{
    color: var(--main-orange);
    font-size: 64px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 0.5rem;
    border: 3px solid var(--main-orange);
}
.offcanvas .offcanvas-title .profile-main-photo{
    width: 130px;
    height: 130px;
    object-fit: cover;
}
.offcanvas button{
    border: none!important;
    box-shadow: none!important;
    background-color: var(--main-gray);
}
.offcanvas span{
    background-image:  url("https://png.pngitem.com/pimgs/s/509-5099522_vector-graphics-hd-png-download.png")!important;
    background-size: 100%;
    background-color: var(--main-gray);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}
.offcanvas a{
    text-decoration: none;
}

.profile-item.active{
    background-color: var(--main-blue);
}
.btn-close{
    background-color: rgba(0,0,0,0.1);
}
.btn-close:active{
    background-color: var(--main-color);
}
#profilePhotoBtn:hover{
    .rounded-circle{
        border-color: var(--main-orange)!important;
    }
}
.profile-item{
    padding-right: 20px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 0.5rem;
}
.profile-item p{
    display: inline;
    padding-left: 10px;
}
.profile-item:hover{
    background-color: #42d1d4b0;
}
.profile.active{
    .profile-photo{
        box-shadow: none;
    }
    .userName{
        /* color: rgb(95, 93, 93); */
        color: var(--main-blue)
    }
}
.changeProfileModal .fa-user-doctor{
    color: var(--main-orange);
    font-size: 250px;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 9px;
    padding-left: 9px;
    border-radius: 0.5rem;
    border: 3px solid var(--main-orange);
    margin-top: 20px;
    margin-bottom: 30px;
}
.changeProfileModal .profile-main-photo{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
    max-height: 50vh;
}
.changeProfileModal input{
    display: none;
}
.changeProfileModal label{
    /* border: 2px solid var(--main-blue); */
    border-radius: 0.5rem;
    background-color: var(--main-blue);
    color: var(--main-font-color);
    box-shadow: var(--main-box-shadow);
    border: 4px solid rgba(0,0,0,0.1) !important;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}
.changeProfileModal label:hover, .changeProfileModal label:focus{
    border:  4px solid  #7be0e0!important;
    box-shadow: none!important;
}
.changeProfileModal label:active {
    transform: scale(0.95);
    background-color: var(--main-color);
}
.btn-close{
    background-color: var(--main-gray)!important;
    border: none!important;
    box-shadow: none!important;
}
.btn-close:hover, .btn-close:focus{
    border:none!important;
}
.modal{
    background: #535050b0 !important;
    z-index: 10000000;
  }
.modal-content{
background-color: var(--main-gray);
text-align: center;
}
.modal-title{
text-align: center !important;
width: 100%;
color: var(--main-blue)
}
.modal button:hover , .modal button:focus{
background-color: var(--main-blue);
}
.important{
color: var(--main-orange);
}   




/*Home Introduction */
.introduction{
    /* https://www.grantthornton.in/globalassets/1.-member-firms/india/new-homepage/media/1.-hero-banners_repeat-visits/1440x600px_hero_banner_shutterstock_1089540233.jpg */
    /* https://hips.hearstapps.com/hmg-prod/images/types-of-doctors-1600114658.jpg?crop=1xw:0.8425829875518672xh;center,top&resize=1200:* */
    background-image: linear-gradient(to right,  #0cd2c86b,rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), #0cd2c86b), url("https://www.grantthornton.in/globalassets/1.-member-firms/india/new-homepage/media/1.-hero-banners_repeat-visits/1440x600px_hero_banner_shutterstock_1089540233.jpg");
     /* https://info.primarycare.hms.harvard.edu/hubfs/6.23.jpg */
     /* https://imgix-prod.sgs.com/-/media/sgscorp/images/temporary/hero-medical-record-and-stethoscope-1600px.cdn.en-PT.1.png?fit=crop&crop=edges&auto=format&w=1200&h=630 */
     /* https://www.shutterstock.com/image-photo/doctor-diagnose-digital-patient-record-260nw-2148966661.jpg */
    height: 85vh;
    background-position-x: right;
    background-position-y: center;
    background-size: 100%;
    object-fit: cover;
}

/*  Header   */
header{
    display: grid;
    grid-template: auto / 1fr 1fr;
    height: auto;
    margin: auto;
}
#call_to_action_card{
    width: 80%!important;
    margin: auto;
    margin-top: 10%;
    margin-left: 10%; 
    height: auto;
    padding: 5%;
    background-color:rgba(244, 244, 244, 0.849);
    box-shadow: var(--main-box-shadow);
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center; 
}
.main h5{
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 350;
    font-size: 18px!important;
    line-height: 1.4;
}
#check-patients-btn{
    background-color: var(--main-orange);
}
.bi-list-ul{
    padding-right: 5px;
}

/*  About section   */
.about-section h1{
    padding-top: 80px;
    text-align: center;
    font-size: 2.5rem;
    color: var(--main-font-color);
}
.about-grid{
    width: 90%;
    display: grid;
    grid-template: auto/ 1fr;
    justify-content: center;
    justify-items: center;
    column-gap: 7%;
    row-gap: 5%;
}
.about-div{
    margin: 4%;
    margin-top: 0%!important;
    margin-left: 13%;
}
.about-div h2{
    padding-bottom: 2%;
}
.about-div h5{
    line-height: 1.5;
    font-size: 20px;
    font-weight: 350;
    margin-bottom: 5%;
}
.contact-us-btn{
    background-color: var(--main-blue);
}
.bi-envelope-fill{
    color: #1a6d6e;
}
.random-image{
    width: 90%;
    height: 330px;
    border-radius: 0.5rem;
    box-shadow: var(--main-box-shadow);
    justify-self: end;
    margin-left: 6%;
    object-fit: cover;
}
.services div{
    display: grid;
}
.services{
    display: grid!important;
    grid-template: 1fr 1fr / 1fr 1fr ;
    text-align: center;
    margin: 5%;
    margin-top: 2%!important;
    margin-bottom: 4%!important;
    column-gap: 10%;
}
.services-title{
    text-align: center;
    display: block;
    padding-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 2.5rem;
    color: var(--main-font-color);
}
.services .technologyDiv{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;  
}
.services .bi{
    font-size: 60px;
}
.services h4{
    margin-top: 15px;
}
.services p{
    display : none;
}

/*  Articles Nav    */
.articles-nav{
    width:100%;
    background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),linear-gradient(to right,  #0cd2c86b,rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), #0cd2c86b), url('https://www.oma.org/uploadedfiles/oma/media/pagetree/newsroom/omr/summer-2023/summer23-omr-landing-page-hrm-listicle.jpg');
    background-size:cover;
    /* linear-gradient(to right, #0cd2c8,#0cd2c8a9,transparent, #0cd2c8a9), */
    /*  https://www.oma.org/contentassets/8beb95743d1a49099aedfc71f62e5dee/rxrenewal-aboutreport-resized.jpg*/
    /* https://www.oma.org/uploadedfiles/oma/media/pagetree/newsroom/omr/summer-2023/summer23-omr-landing-page-hrm-listicle.jpg */
    /* https://img.freepik.com/premium-photo/healthcare-medical-doctor-working-with-professional-team-physician-nursing-assistant_34200-767.jpg?w=2000 */
    /* https://static.vecteezy.com/system/resources/previews/009/732/698/non_2x/healthcare-medical-services-doctor-holding-in-hand-red-heart-shape-and-medical-icon-network-connection-on-virtual-screen-health-care-medicine-technology-network-concept-illustration-vector.jpg */
   /* https://www.parents.com/thmb/mTkwpp5_LnFzER7oIUnw7kGu_O0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/MomPediatricianFever-2000-807830341ce24f36aac53d293a5e7d56.jpg */
    background-position: left;
    position:relative;
    padding:3vh 0;
    overflow:hidden;
    margin-bottom: 10%;
}
.articles-nav a{
    display: inline-block;
    text-decoration: none;
    width:100%;
}  
.articles-nav .cards{
    width:100%;
    margin-left: 4%;
    display: inline-block;
}
   
@keyframes movingCard {
    0%{ width:80%; background:var(--main-transparent-gray);}
    50%{ width:90%; background:white;}
    100%{width:80%; background:var(--main-transparent-gray);}
}
.artilces-nav-intro{
    display: block;
    margin: 4%;
}
.artilces-nav-intro h1{
    font-size:2.5em;
    color: var(--main-blue);
    text-shadow: 4px 4px 2px rgba(73, 70, 70, 0.55);
    text-align: center;
} 
    
.articles-nav .cards .card{
    display:block;
    margin:10px 0;
    background:var(--main-transparent-gray);
    width:80%;
    transition:0.5s;
    cursor:pointer;
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
    padding-right: 4%;
    padding-left: 4%;
}

.articles-nav .cards .card:hover{
    width:90%;
    background:white;
}

    
.articles-nav .cards .card section{
    padding:1.5rem 1rem;
}
    
.articles-nav .cards .card section h4{
    font-weight:250;
    font-size: 24px;
}
 

.articles-nav .cards .card section h1{
    color:var(--main-blue);
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
}
 .articles-nav .content{
    position:absolute;
    top:25vh;
    right:6vw;
    width:40%;
    display: none;   
} 
    
.articles-nav .content h1{
    font-size:2.5em;
    color: var(--main-blue);
    text-shadow: 4px 4px 2px rgba(73, 70, 70, 0.55);
} 
    
.articles-nav .content p{
    line-height:1.4em;
    text-align: center;
    letter-spacing:0.08em;
    font-size:1.4em;
    /* color:rgba(1,1,1,0.7); */
    color: var(--main-font-color);
}

/* Sign up */
.home-sign-up-div{
    margin-left: 8% ;
    /* margin-top: -30px; */
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 8%;
}

.home-sign-up-input-group{
    border-bottom: 1px solid #cccbcb;
    width: 90%;
}
.home-sign-up-input{
    border: none;
    background-color: transparent;
    width: 90%;
    color: #cccbcb;
}
.home-sign-up-input:focus{
    outline: none;
    color: var(--main-blue);
}
.bi-arrows-angle-expand{
    font-size: 20px;  
    padding-bottom: 2px;
    color: var(--main-orange)
}
.home-sign-up-img{
    width: 90%;
    border-radius: 0.5rem;
    background-image: linear-gradient(white, transparent , transparent, white), linear-gradient(to right, white, transparent , transparent, white), url('home-sign-up-call.png') ;
    background-position: right;
    background-size: 100%;
    object-fit: cover;
    border: none;
    height: 200px;
}


 /* Footer */ 
.footer{
    text-align: left;
    background-color: var(--main-gray);
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 0px;
    height: 50vh;
    object-fit: cover;
    display: grid;
    row-gap: 10%;
    grid-template-rows: repeat(3, 1fr);
}
.footer-in-grid{
    display: grid;
    grid-template: auto/ auto auto auto auto;
    justify-items: end;
    column-gap: 20px;

}
.footer-articles-nav{
    display: flex;
    flex-direction: column;
}
.footer-link{
    text-decoration: none;
    color: var(--main-blue)
}
.footer-link:hover{
    color: var(--main-orange);
}
.footer button{
    background-color: transparent;
    border: none!important;
    box-shadow: none;
    margin-right: 0px!important;
    color: var(--main-blue);
    font-size: 16px!important;
    display:contents
}
.footer button:hover{
    color: var(--main-orange);
}
.footer .copyright{
    /* grid-column-start: 1;
    grid-column-end: 3;*/
    justify-self: center; 
}


@media only screen and (min-width: 850px){
    /* .introduction{
        height: 85vh;
    } */
    /* .userName{
        display: none;
    } */
    .offcanvas{
        width: 25vw;
    }
    .header{
        grid-template: auto / 1fr 1fr;
    }
    #call_to_action_card{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .about-section h1{
        padding-top: 4%;
    }
    .about-grid{
        grid-template: auto/ 1fr 1fr;
        margin: 4%;
    }
    .about-div{
        margin-left: 9%; 
        padding: 4%;
    }
    .services{
        display: grid;
        grid-template: auto/ 1fr 1fr 1fr;
        text-align: center;
        margin: 5%;
        margin-top: 9%;
        margin-bottom: 8%;
        column-gap: 10%;
    }
    .services-title{
        display: none;
    }
    .services .technologyDiv{
        grid-column-start: 3;
        grid-column-end: 3;
        justify-self: center;  
    }
    .services p{
        display : block;
    }
    .artilces-nav-intro{
        display: none;
    }
    .articles-nav .cards{
        width:50%;
    }
    .articles-nav .content{
        display: block;
    }
    .footer{
        grid-template: 1fr  1fr/ 1fr 1fr;
        row-gap: 25%;
        height: 33vh;
    }
    .footer .copyright{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
    
    
    
 